@font-face {
    font-family: 'Carelia';
    src: url('../assets/fonts/Carelia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ========== Base Styles ========== */
body {
    background-color: #F4F4F6; /* Ivory Mist */
    color: #3A3D40; /* Slate Grey */
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Carelia', serif;
    font-weight: bold;
    color: #264653; 
    letter-spacing: 0.05em;
}

/*********** NAVBAR ***********/
.custom-navbar {
    background-color: #1C1C1E; /* Charcoal Black */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2rem;
    width: 100%;
}

.navbar-left {
    text-align: left;
    flex: 1;
}

.navbar-left h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-family: 'Carelia', serif;
    font-weight: bold;
    color: 	#F4F4F6; 
}

.navbar-left p {
    font-size: 1rem;
    font-family: 'DM Sans', sans-serif;
    text-transform: uppercase;
    color: #E9E3DA; /* Modern Sandstone */
}

.navbar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 2;
    margin-left: 20px;
}

.custom-navbar .nav-link {
    color: #F4F4F6; /* Ivory Mist */
    text-transform: uppercase;
    margin-right: 20px;
    transition: all 0.3s ease;
}

.custom-navbar .nav-link:hover {
    color: #2A9D8F; /* Cool Cyan */
    transform: scale(1.1);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-toggler {
    border: none;
    background: transparent;
    outline: none;
}

.navbar-toggler-icon {
    background-color: #2A9D8F; /* Cool Cyan */
    color: #F4F4F6; /* Ivory Mist */
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 6px;
    font-weight: bold;
}

.navbar-toggler-icon:hover {
    background-color: #C9A66B; /* Muted Gold */
    color: #1C1C1E; /* Charcoal Black */
}

/* ========== Mobile Responsive ========== */
@media (max-width: 768px) {

    .custom-navbar {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }

    .navbar-left {
        text-align: left;
    }

    .navbar-left h2,
    .navbar-left p {
        margin: 0;
    }

    .navbar-toggler {
        border: none;
        background: transparent;
        outline: none;
    }

    .navbar-collapse {
        margin-top: 20px;
        width: 100%;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-link {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .main-content {
        margin-left: 0;
        width: 100%;
        padding: 2rem 1rem;
    }

    .content {
        flex-direction: column;
        text-align: center;
    }

    .right-column {
        margin-top: 20px;
    }
}
